/* здесь используйте глобальные селекторы img, body, html и так далее */
@use "mixins";
@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: variables.$white;
  height: 100%;
}

body {
  @include mixins.set-font($font-primary, 400, normal, 14px, 18px);
  color: variables.$font-color-primary;
}
