/* здесь используйте глобальные переменные */
$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;

$font-color-primary: #444444;
$font-color-secondary: #222222;
$font-color-accent: #111111;


$bg-primary: #68b738;
$bg-primary-special: #5eaa2f;
$bg-secondary: #f2f2f2;
$bg-secondary-special: #ebebeb;
$bg-color-accent: #eaeaea;

$border-color-primary: #cdcdcd;
$border-color-secondary: #e6e6e6;
$border-color-special: #d9d9d9;

$icon-color: #666666;
$error-color: #ff8282;
$black: #000000;
$white: #ffffff;
