@use "../common/mixins.scss";
@use "../common/variables.scss";

.button {
  @include mixins.set-font($font-secondary, 400, normal, 16px, 20px);
  color: variables.$white;
  background-color: variables.$bg-primary;
  text-decoration: none;
  text-transform: uppercase;
}

.button--secondary {
  color: variables.$font-color-primary;
  background-color: variables.$bg-secondary;
}
