@use "../common/mixins.scss";
@use "../common/variables.scss";

.button {
  @include mixins.set-font(variables.$font-secondary, 400, normal, 16px, 20px);
  padding: 10px 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button--primary {
  color: variables.$white;
  background-color: variables.$primary-color;

  &:hover {
    background-color: variables.$bg-primary-special;
  }

  &:active {
    color: rgba(variables.$white, 0.3);
  }

  &:disabled {
    opacity: 0.1;
  }
}

.button--secondary {
  color: variables.$font-color-primary;
  background-color: variables.$bg-secondary;

  &:hover {
    background-color: variables.$bg-secondary-special;
  }

  &:active {
    background-color: variables.$bg-secondary-special;
  }

  // &:disabled {
  //   opacity: 0.8;
  //   background-color: variables.$icon-color;
  //   color: black;
  // }
}
