@use "../common/mixins.scss";
@use "../common/variables.scss";

.button {
  @include mixins.set-font($font-secondary, 400, normal, 16px, 20px);
  padding: 10px 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button--primary {
  color: variables.$white;
  background-color: variables.$primary-color;

  &:hover {
    background-color: $bg-primary-special;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

.button--secondary {
  color: variables.$font-color-primary;
  background-color: variables.$bg-secondary;

  &:hover {
    background-color: $bg-secondary-special;
  }

  &:active {
    background-color: $bg-secondary-special;
  }
}
