@use "../common/mixins.scss";
@use "../common/variables.scss";

.catalog {
  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.catalog__title {
  @media (max-width: $mobile-width-only) {
    padding: 0 20px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 60px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    gap: 80px 63px;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
