.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
  }
}
