@use "../common/mixins.scss";
@use "../common/variables.scss";

.contacts {
  @media (min-width: variables.$desktop-width) {
    position: relative;
  }

  &--color {
    background-color: variables.$bg-secondary;
  }
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: variables.$tablet-width) {
    padding: 60px 40px;
  }

  @media (min-width: variables.$desktop-width) {
    content: "";
    position: absolute;
    background-color: variables.$bg-color-basic;
    z-index: 1;
    top: 95px;
    padding: 61px 75px 60px 80px;
    min-width: 565px;
    display: flex;
    justify-content: initial;
    gap: 85px;
  }
}

.contacts__text {
  margin: 0;

  @include mixins.set-font(variables.$font-secondary, 400, normal, 16px, 20px);
  color: variables.$font-color-accent;
  text-transform: uppercase;
  max-width: 140px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 165px;
  }
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
  text-decoration: none;
  max-width: 140px;

  @media (min-width: variables.$tablet-width) {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: end;
  }

  @media (min-width: variables.$desktop-width) {
    text-align: start;
    gap: 18px;
  }
}

.contacts__map .contacts__map-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 0;

  @media (min-width: variables.$tablet-width) {
    height: 400px;
  }

  @media (max-width: variables.$mobile-width-only) {
    height: 362px;
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 0;

  @media (min-width: variables.$tablet-width) {
    height: 400px;
  }

  @media (max-width: variables.$mobile-width-only) {
    height: 362px;
  }
}

.contacts__map--nojs iframe {
  display: none;
}
