@use "../common/mixins.scss";
@use "../common/variables.scss";

.contacts {
  @media (min-width: variables.$desktop-width) {
    position: relative;
  }

  &--color {
    background-color: variables.$bg-secondary;
  }
}

.contacts__wrapper {
  padding: 0;

  @media (min-width: variables.$desktop-width) {
    grid-template-rows: 95px auto auto;
    grid-template-columns: auto 565px 90px 565px auto;
    min-width: 100%;
    min-height: 400px;
    display: grid;
    padding: 0;
  }
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: variables.$tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: variables.$desktop-width) {
    z-index: 2;
    background-color: variables.$bg-color-basic;
    grid-area: 2 / 2 / 3 / 3;
    gap: 87px;
    width: 565px;
    min-height: 199px;
    padding: 60px 77px;
  }
}

.contacts__text {
  margin: 0;

  @include mixins.set-font(variables.$font-secondary, 400, normal, 16px, 20px);
  color: variables.$font-color-accent;
  text-transform: uppercase;
  max-width: 140px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 165px;
  }
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
  text-decoration: none;
  max-width: 140px;

  @media (min-width: variables.$tablet-width) {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: end;
  }

  @media (min-width: variables.$desktop-width) {
    text-align: start;
    gap: 18px;
  }
}

.contacts__map {
  @media (min-width: variables.$desktop-width) {
    grid-area: 1 / 1 / 4 / 6;
    min-width: 100%;
    height: 100%;
    min-height: 400px;
  }
}

.contacts__map .contacts__map-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 0;

  @media (min-width: variables.$tablet-width) {
    height: 400px;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
  }

  @media (max-width: variables.$mobile-width-only) {
    height: 362px;
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 0;

  @media (min-width: variables.$tablet-width) {
    min-height: 400px;
  }

  @media (max-width: variables.$mobile-width-only) {
    min-height: 362px;
  }
}

.contacts__map--nojs iframe {
  display: none;
}
