@use "../common/mixins.scss";
@use "../common/variables.scss";

.example {
  background-color: $bg-color-accent;

  @media (min-width: $tablet-width) {
    background-color: $white;
    background-image: linear-gradient(rgba(#ffffff, 0) 0 619px, $bg-color-accent 619px 100%);
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
    background-image: linear-gradient(rgba(#ffffff, 0) 0 136px, $bg-secondary 136px 100%);
  }
}

.example__content {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 55px;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 0;
    padding-bottom: 75px;
    column-gap: 215px;
  }
}

.example__title {
  margin: 0 0 40px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin: 0 0 70px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin: 10px 0 156px;
  }
}

.example__text {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin: 0 0 55px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin: 0 0 69px;
  }
}

.example__list {
  margin: 0 0 34px;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 32px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: start;
    gap: 43px;
    margin: 0 0 104px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin: 0 0 60px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  width: 124px;
  height: 56px;
  border: 1px solid $border-color-primary;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.example__item-value {
  @include mixins.set-font($font-secondary, 400, normal, 24px, 24px);
  color: variables.$black;
  margin: 13px auto 9px;
  align-self: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin: 14px auto 7px;
  }
}

.example__item-text {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  text-align: center;
  align-self: center;
  background-color: $bg-color-accent;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $bg-color-basic;
    padding: 0 5px;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-secondary;
  }

  @media (max-width: $mobile-width-only) {
    width: 77px;
    height: 24px;
  }
}

.example__cost {
  @include mixins.set-font($font-secondary, 400, normal, 14px, 20px);
  color: variables.$black;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 11px 2px 0;
    max-width: 174px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: end;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 1/2;
    flex-direction: row;
    gap: 66px;
    justify-self: start;
    max-width: none;
  }
}

.example__cost span {
  margin-right: -2px;
}

.example__picture {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    grid-column: 1/-1;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    display: flex;
    justify-self: end;
    grid-column: 2/3;
    grid-row: 1/5;
  }
}

.example__picture-image {
  display: block;
}

.example__picture-toggle {
  display: block;
  position: absolute;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: $icon-color;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    background-color: $primary-color;
  }

  &:active {
    background-color: $primary-color;
    opacity: 0.6;
  }

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $white;
    border: 2px solid $icon-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::before {
    border-color: $primary-color;
  }

  &:active::before {
    border-color: rgba($primary-color, 0.6);
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $icon-color;
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#slider-icon");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::after {
    background-color: $primary-color;
  }

  &:active::after {
    background-color: $primary-color;
    opacity: 0.6;
  }
}
