@use "../common/mixins.scss";
@use "../common/variables.scss";

.extra-product {
  display: grid;

  @media (max-width: $mobile-width-only) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    padding: 13px 0 19px;
    border-top: 1px solid $border-color-primary;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 3fr 2fr 1fr;
    padding: 26px 38px 28px;
    border-top: 1px solid $border-color-primary;
    border-left: 1px solid $border-color-primary;
    border-right: 1px solid $border-color-primary;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: minmax(340px, 1fr) 1fr 1fr 1fr;
    align-items: center;
    border-left: none;
    border-right: none;
    padding: 25px 0;
  }
}

.extra-product:last-child {
  border-bottom: 1px solid $border-color-primary;
}

.extra-product__title {
  @media (max-width: $mobile-width-only) {
    margin: 0 0 13px;
    line-height: 16px;
    grid-column: 1/-1;
  }

  @media (min-width: $tablet-width) {
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.extra-product__text {
  @media (max-width: $mobile-width-only) {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 15px;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: start;
  }
}

.extra-product__price {
  @media (max-width: $mobile-width-only) {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 15px;
    text-align: end;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    vertical-align: middle;
    margin: 0;
    text-align: end;
    margin-right: 40px;
  }
}

.extra-product__button {
  grid-column: 1/-1;

  @media (min-width: $desktop-width) {
    grid-column: auto;
    min-width: 244px;
  }
}
