@use "../common/mixins.scss";
@use "../common/variables.scss";

.extra-catalog {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 80px;
  }
}


.extra-catalog__title {
  @include mixins.set-font($font-secondary, 400, normal, 24px, 24px);
  color: variables.$black;
  position: relative;
  width: fit-content;
  background-color: $bg-color-basic;
  box-shadow: -30px 0 0 0 $bg-color-basic, 30px 0 0 0 $bg-color-basic;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    grid-column: 1/-1;
  }
}

.extra-catalog__title::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  // width: 11%;
  background: $border-color-accent;
  box-shadow: 100vw 0 0 $border-color-accent;
  z-index: -1;
  width: 100vw;
  // background-color: $border-color-accent;
  top: 50%;
  right: 0;
}

.extra-catalog__list {
  margin: 0 0 35px;
  padding: 0;
  list-style-type: none;
}
