.footer {
  text-align: center;
  background-color: $bg-secondary;
  padding: 20px 0;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid $border-color-special;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
