@use "../common/mixins.scss";
@use "../common/variables.scss";

.gift {
  display: block;
  min-width: 280px;
  padding: 58px 0 43px;

  @media (max-width: $mobile-width-only) {
    background-image:
      linear-gradient(to left, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set("../../images/bg-catalog-cat-mobile@1x.webp" type("image/webp"),
      "../../images/bg-catalog-cat-mobile@1x.jpg" type("image/jpeg"));

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to left, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        image-set("../../images/bg-catalog-cat-mobile@2x.webp" type("image/webp"),
        "../../images/bg-catalog-cat-mobile@2x.jpg" type("image/jpeg"));
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    background-image:
      linear-gradient(to left, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set("../../images/bg-catalog-cat-tablet@1x.webp" type("image/webp"),
      "../../images/bg-catalog-cat-tablet@1x.jpg" type("image/jpeg"));

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to left, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        image-set("../../images/bg-catalog-cat-tablet@2x.webp" type("image/webp"),
        "../../images/bg-catalog-cat-tablet@2x.jpg" type("image/jpeg"));
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 59px 125px 60px 79px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    background-image:
      linear-gradient(to left, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set("../../images/bg-catalog-cat-desktop@1x.webp" type("image/webp"),
      "../../images/bg-catalog-cat-desktop@1x.jpg" type("image/jpeg"));

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to left, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        image-set("../../images/bg-catalog-cat-desktop@2x.webp" type("image/webp"),
        "../../images/bg-catalog-cat-desktop@2x.jpg" type("image/jpeg"));
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 56px 0 43px;
    flex-direction: column;
    justify-content: center;
  }

  &::before {
    display: block;
    content: "";
    mask-image: url("../../icons/stack.svg#gift-icon");
    mask-repeat: no-repeat;
    background-color: $white;
    mask-position: center;
    min-width: 78px;
    min-height: 81px;
    left: 0;
    top: 0;

    @media (min-width: $desktop-width) {
      margin-bottom: 48px;
    }
  }
}

.gift__text {
  margin: 0;
  padding-top: 48px;
  font-size: 16px;
  line-height: 20px;
  color: variables.$white;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 0;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }

  // @media (min-width: $tablet-width) {
  //   text-align: center;
  //   padding-top: 48px;
  //   display: block;
  // }
}
