@use "../common/mixins.scss";
@use "../common/variables.scss";

.gift {
  display: block;
  min-width: 280px;
  min-height: 290px;
  background-color: variables.$primary-color;
  opacity: 0.85;

  &::before {
    display: block;
    content: "";
    mask-image: url("../../icons/stack.svg#gift-icon");
    mask-repeat: no-repeat;
    background-color: $white;
    mask-position: center;
    min-width: 78px;
    min-height: 81px;
    left: 0;
    top: 0;
  }
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  color: variables.$white;
  text-align: center;
}
