@use "../common/mixins.scss";
@use "../common/variables.scss";

.header {
  @media (min-width: variables.$desktop-width) {
    position: relative;
  }

  @media (max-width: variables.$mobile-width-only) {
    display: flex;
    align-items: center;
    padding-top: 13px;
    border-bottom: 1px solid variables.$border-color-secondary;
    position: relative;
  }
}

.header--style {
  @media (min-width: variables.$desktop-width) {
    &::before {
      content: "";
      position: absolute;
      background-image:
        linear-gradient(to left, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        linear-gradient(to left, #3f3e46, #404145);
      background-size: auto;
      right: 0;
      top: 0;
      height: 100%;
      width: 50%;
      z-index: -1;
    }
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: variables.$tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 55px;
  }
}

.header--nojs {
  @media (max-width: variables.$mobile-width-only) {
    min-height: auto;
    padding-top: 13px;
  }
}

.header--nojs .header__wrapper {
  @media (max-width: variables.$mobile-width-only) {
    padding-left: 0;
    padding-right: 0;
  }
}

.header--nojs .header__logo {
  @media (max-width: variables.$mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header--nojs .header__navigation {
  @media (max-width: variables.$mobile-width-only) {
    min-width: 100%;
  }
}

.header--nojs .navigation__item {
  @media (max-width: variables.$mobile-width-only) {
    border-top: 1px solid variables.$border-color-secondary;

    &:last-child {
      border-bottom: none;
    }
  }
}
