@use "../common/mixins.scss";
@use "../common/variables.scss";

.header {
  background-color: $bg-color-basic;

  @media (max-width: $mobile-width-only) {
    display: flex;
    align-items: center;
    min-height: 65px;
    border-bottom: 1px solid $border-color-secondary;
    position: relative;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}
