@use "../common/mixins.scss";
@use "../common/variables.scss";

.hero__title {
  color: variables.$white;
  background-color: $bg-primary;
  opacity: 0.85;
}

.hero__subtitle {
  @include mixins.set-font($font-secondary, 400, normal, 14px, 14px);
  color: variables.$white;
  background-color: $bg-primary;
  opacity: 0.85;
}
