@use "../common/mixins.scss";
@use "../common/variables.scss";

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: variables.$mobile-width-only) {
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 12px;
  }
}

.logo picture {
  display: contents;
}

.logo__text {
  @media (min-width: variables.$tablet-width) {
    min-width: 101px;
    margin-left: 13px;
    height: auto;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 118px;
    margin-left: 14px;
  }

  @media (max-width: variables.$mobile-width-only) {
    margin: 0 auto;
  }
}

.header--nojs .logo {
  @media (max-width: variables.$mobile-width-only) {
    max-width: calc(100% - 33px);
  }
}
