@use "../common/mixins.scss";
@use "../common/variables.scss";

.navigation--closed .navigation__toggle {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  margin-right: 10px;

  &::before {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#burger-icon");
    mask-repeat: no-repeat;
    background-color: $black;
    mask-position: center;
    width: 24px;
    height: 24px;
    mask-size: contain;
    margin-left: 3px;
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (max-width: $mobile-width-only) {
    .navigation--closed .navigation__item {
      display: none;
    }
  }
}

.navigation--opened .navigation__toggle {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  margin-left: 10px;

  &::before {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#close-icon");
    mask-repeat: no-repeat;
    background-color: $black;
    mask-position: center;
    width: 18px;
    height: 18px;
    mask-size: contain;
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--nojs .navigation__toggle {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.navigation--nojs .navigation__list {
  @media (max-width: $mobile-width-only) {
    display: block;
    text-align: center;
    top: 100%;
    left: 0;
    width: 100vw;
    z-index: 3;
    background-color: $bg-color-basic;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;

  @include mixins.set-font($font-secondary, 400, normal, 20px, 20px);
  list-style: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include mixins.set-font($font-secondary, 400, normal, 18px, 24px);
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: end;
    gap: 33px;
    min-width: 440px;
    padding: 10px 6px 8px;
  }

  @media (min-width: $desktop-width) {
    @include mixins.set-font($font-secondary, 400, normal, 20px, 30px);
    // min-width: 475px;
    max-width: 600px;
    padding: 10px 2px 8px;
  }
}

.navigation__list--open {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    display: block;
    text-align: center;
    top: 100%;
    left: 0;
    width: 100vw;
    z-index: 3;
    background-color: $bg-color-basic;
  }
}

.navigation__list:not(.navigation__list--open) {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.navigation__link {
  display: block;
  position: relative;
  color: variables.$black;
  text-decoration: none;


  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }

  @media (max-width: $mobile-width-only) {
    padding: 24px 0 21px;
  }
}

.navigation__item {
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $border-color-secondary;

    &:last-child {
      border-bottom: 2px solid $border-color-secondary;
    }
  }
}

.navigation__link--color {
  @media (min-width: $tablet-width) {
    color: $black;
  }
}

.navigation__link--current,
.navigation__link--current-accent {
  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      background-color: $primary-color;
      height: 2px;
      left: 0;
      bottom: -10px;
      right: 0;
    }

    @media (min-width: $desktop-width) {
      bottom: -8px;
    }
  }
}

.navigation__link--current::after {
  @media (min-width: $desktop-width) {
    background-color: $bg-color-basic;
  }
}
