@use "../common/mixins.scss";
@use "../common/variables.scss";

.navigation__list {
  @include mixins.set-font("Oswald", 400, normal, 20px, 20px);
  color: variables.$black;
  text-transform: uppercase;
}

.navigation__link {
  color: variables.$black;
  text-decoration: none;
}
