@use "../common/mixins.scss";
@use "../common/variables.scss";


.product-card__link {
  text-decoration: none;
}

.product-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  padding: 20px 0 25px;
  border-bottom: 1px solid $border-color-secondary;
}

.product-card__title {
  color: variables.$font-color-accent;
}

.product-card__title--more::before {
  display: block;
  content: "";
  position: absolute;
  mask-image: url("../../icons/stack.svg#plus-icon");
  mask-repeat: no-repeat;
  background-color: #d3d3d3;
  mask-position: center;
  min-width: 30px;
  min-height: 30px;
  left: 50%;
  transform: translate(-50%, -100%);
}

.product-card__text {
  font-size: 12px;
  line-height: 16px;
}

.product-card__picture {
  grid-row: 1/-2;
}

.product-card__button {
  grid-column: 1/-1;
}
