@use "../common/mixins.scss";
@use "../common/variables.scss";


.product-card__link {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    text-align: center;
    display: flex;
    flex-grow: 1;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 85px;
  }
}

.product-card {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 324px;
    padding: 10px 37px 40px;
    background-color: $bg-color-basic;
    background-image: linear-gradient(rgba(#ffffff, 0) 0 81px, $bg-secondary 81px 100%);

    &--more {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 324px;
      padding: 37px 37px 40px;
      padding-top: 50px;
      border: 2px solid $bg-secondary;
      background-image: none;
      margin-top: 82px;
      min-height: 430px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    padding: 10px 38px 40px;

    &--more {
      min-width: 245px;
      padding-top: 47px;
      margin-top: 81px;
    }
  }

  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    padding: 21px 20px 24px;
    border-bottom: 1px solid $border-color-secondary;

    &:first-child {
      border-top: 1px solid $border-color-secondary;
    }

    &--more {
      grid-template-columns: 1fr;
      text-align: center;
      align-items: center;
      background-color: $bg-color-basic;
      padding-top: 25px;
    }
  }
}

.product-card__title {
  @media (min-width: $tablet-width) {
    text-align: center;
    max-width: 150px;
    display: inline-block;
    margin: 22px auto 14px;

    &--more {
      margin: 48px auto 16px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 12px auto 18px;

    &--more {
      margin: 41px auto 19px;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin: 0;

    &--more {
      margin: 24px 0 8px;
    }
  }
}

.product-card__text--more {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    text-align: center;
    margin: 0 auto;
  }
}

.product-card--more::before {
  display: block;
  content: "";
  mask-image: url("../../icons/stack.svg#plus-icon");
  mask-repeat: no-repeat;
  background-color: #d3d3d3;
  mask-position: center;
  min-width: 30px;
  min-height: 30px;

  @media (min-width: $tablet-width) {
    min-width: 60px;
    min-height: 60px;
  }
}

.product-card__text-wrapper {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 15px 0 20px;
  }
}

.product-card__description {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $border-color-primary;
  }
}

.product-card__text {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding: 5px 0 6px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 0 7px;
  }
}

.product-card__picture {
  place-self: center center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 200px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
  }

  @media (max-width: $mobile-width-only) {
    grid-row: 1/-2;
    justify-content: center;
    align-self: auto;
    display: flex;
    height: 107px;
    width: 140px;
  }
}

.product-card__button {
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    margin-top: auto;

    &--more {
      line-height: 18px;
      padding: 13px 15px 9px;
    }
  }
}
