@use "../common/mixins.scss";
@use "../common/variables.scss";

.programs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-top: 82px;
  }
}

.programs__card {
  background-color: $bg-secondary;
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto 1fr;
  padding: 21px 20px 22px;

  &::before {
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr auto;
    column-gap: 24px;
    padding: 76px 29px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 3fr;
    column-gap: 62px;
    padding: 41px 61px 59px 52px;
    min-width: 570px;
  }
}

.programs__card--slim::before {
  background-image: url("../../icons/stack.svg#sitting-cat");
  width: 50px;
  height: 53px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    grid-row: span 3;
    margin: 5px 34px 0 23px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    grid-row: 1/2;
    margin: 0;
  }
}

.programs__card--fat::before {
  background-image: url("../../icons/stack.svg#walking-cat");
  width: 67px;
  height: 50px;
  margin: 3px -8px 0;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    grid-row: span 3;
    margin: 15px 0 25px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    grid-row: 1/2;
    margin: 4px -19px 0;
  }
}

.programs__card--fat {
  @media (min-width: $tablet-width) {
    padding: 76px 29px 56px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 29px 59px 52px;
  }
}

.programs__card--fat .programs__card-title {
  @media (min-width: $desktop-width) {
    display: flex;
    margin-left: -7px;
  }
}

.programs__card-title {
  align-self: center;
  margin: 0;
  margin-top: 1px;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.programs__card-description {
  margin: 0;
  padding: 22px 0;
  grid-column: -1 / 1;
  border-bottom: 1px solid $border-color-special;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -2;
    border-bottom: none;
    padding: 21px 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1 / 1;
    padding: 39px 0 27px;
  }
}

.programs__card-link {
  @include mixins.set-font($font-secondary, 400, normal, 16px, 16px);
  color: variables.$black;
  text-transform: uppercase;
  text-decoration: none;
  grid-column: -1 / 1;
  padding-top: 19px;
  padding-left: 1px;
  display: inline-flex;
  gap: 15px;
  align-items: center;

  &::after {
    content: "";
    mask-image: url("../../icons/stack.svg#arrow-icon");
    mask-repeat: no-repeat;
    background-color: $black;
    mask-position: -5px 0;
    width: 30px;
    height: 10px;
    transition: mask-position 0.3s linear;
  }

  &:hover::after {
    mask-position: 0 0;
  }

  &:active {
    opacity: 0.3;
  }

  &:active::after {
    mask-position: 0 0;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    grid-column: 1/2;
    gap: 25px;
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1 / 1;
    padding: 0;
  }
}
