.slider {
  display: grid;
  grid-template-columns: 50% 50%;
  width: min(100%, 560px);
  aspect-ratio: 280/256;
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__image--state-before {
  object-position: left;
}

.slider__image--state-after {
  object-position: right;
}
