@use "../common/mixins.scss";
@use "../common/variables.scss";

.socials {
  border-bottom: 1px solid variables.$border-color-special;

  @media (min-width: variables.$tablet-width) {
    align-self: center;
    border: none;
  }
}

.socials__list {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    padding-top: 1px;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 26px;
    padding-top: 3px;
  }
}

.socials__link {
  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    mask-repeat: no-repeat;
    background-color: variables.$icon-color;
    mask-position: center;
    mask-size: contain;
  }

  &:hover::after {
    background-color: variables.$primary-color;
  }

  &:focus::after {
    background-color: variables.$primary-color;
  }

  &:active::after {
    background-color: variables.$primary-color;
    opacity: 0.3;
  }
}

.socials__link--vkontakte::after {
  mask-image: url("../../icons/stack.svg#vkontakte");

  @media (min-width: variables.$tablet-width) {
    width: 26px;
  }
}

.socials__link--youtube::after {
  mask-image: url("../../icons/stack.svg#youtube");
}

.socials__link--telegram::after {
  mask-image: url("../../icons/stack.svg#telegram");
}
