@use "../common/mixins.scss";
@use "../common/variables.scss";

.specials__list {
  list-style: none;
}

.specials__title {
  line-height: 40px;
}

.specials__item {
  position: relative;
}

.specials__item::before {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  background-color: $bg-primary;
  background-repeat: no-repeat;
  background-position: center;
}

.specials__item--healthy::before {
  background-image: url("../../icons/stack.svg#leaf-icon");
  background-size: 25px 28px;
}

.specials__item--easy::before {
  background-image: url("../../icons/stack.svg#glass-icon");
  background-size: 26px 29px;
}

.specials__item--replace::before {
  background-image: url("../../icons/stack.svg#eat-icon");
  background-size: 25px 30px;
}

.specials__item--result::before {
  background-image: url("../../icons/stack.svg#clock-icon");
  background-size: 27px 31px;
}
