@use "../common/mixins.scss";
@use "../common/variables.scss";

.subscribe {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    padding: 80px 68px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 97px 28px 104px;
  }
}

.subscribe__title {
  margin: 0;
  margin-bottom: 32px;

  @include mixins.set-font(variables.$font-secondary, 400, normal, 24px, 24px);
  color: variables.$black;
  position: relative;
  width: fit-content;
  background-color: variables.$bg-color-basic;
  box-shadow: -40px 0 0 0 variables.$bg-color-basic, 40px 0 0 0 variables.$bg-color-basic;

  @media (min-width: variables.$tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
    margin-left: 2px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 72px;
  }
}

.subscribe__title::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background: variables.$border-color-accent;
  box-shadow: 100vw 0 0 variables.$border-color-accent;
  z-index: -1;
  width: 100vw;
  top: 43%;
  right: 0;
}

.subscribe__text {
  @include mixins.set-font(variables.$font-secondary, 400, normal, 16px, 24px);
  color: variables.$black;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: variables.$tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 23px;
  }
}

.subscribe__form {
  display: flex;

  @media (min-width: variables.$tablet-width) {
    justify-content: center;
  }

  @media (max-width: variables.$mobile-width-only) {
    flex-direction: column;
    gap: 16px;
  }
}

.form__input {
  @include mixins.set-font(variables.$font-secondary, 400, normal, 20px, 30px);
  text-transform: uppercase;
  color: variables.$font-color-primary;
  border: 1px solid variables.$input-border-color;
  min-height: 56px;
  padding-left: 12px;

  &:hover {
    border: 1px solid variables.$border-color-primary;
  }

  &:focus {
    border: 2px solid variables.$font-color-primary;
    // border: 2px solid red;
    border-radius: unset;
  }

  // &:focus-visible {
  //   border: 2px solid variables.$font-color-primary;
  //   border-radius: 0px;
  // }

  &:invalid {
    border: 2px solid variables.$error-color;
  }

  @media (min-width: variables.$tablet-width) {
    min-width: 376px;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 496px;
  }
}

.form__input::placeholder {
  color: variables.$font-color-primary;
}

// .form__input:focus-within {
//   // border: 2px solid variables.$font-color-primary;
//   border: 2px solid #68b738;
//   border-radius: unset;
// }

.form__input:focus-visible {
  // outline: 1px solid variables.$font-color-primary;
  border-radius: initial;
  border: unset;
}

.subscribe__button {
  min-height: 56px;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: variables.$tablet-width) {
    width: 256px;
  }
}
