@use "../common/mixins.scss";
@use "../common/variables.scss";

.title-h1 {
  @include mixins.set-font("Oswald", 400, normal, 36px, 36px);
  color: variables.$white;
  background-color: $bg-basic-green;
  opacity: 0.85;
}
