@use "../common/mixins.scss";
@use "../common/variables.scss";

.title-h3 {
  @include mixins.set-font($font-secondary, 400, normal, 24px, 37px);
  color: variables.$black;
  text-transform: uppercase;
}
